h1 {
    color: black;
    font-size: 2em;
    text-align: center;
}
#submitButton {
    margin-top: 20px;
}
#checkBox {
    margin-left: 35px;
}

.container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}